@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --background-color:#0C0418;
    --primary-font-color: #FEFFFF;
    --primary-color: #FD6F00;;
}


body {
   
    box-sizing: border-box;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

.container{
    padding: 0 120px 0 120px;
}